openapi: 3.0.0
info:
  description: "[Protein expression interface](https://github.com/bigbio/proxi-schemas/)"
  version: v1
  title: Proteomics Expression Interface
  contact:
    name: Yasset Perez-Riverol
    email: yperez@ebi.ac.uk
  license:
    name: Apache 2.0
    url: https://github.com/bigbio/proxi-schemas/LICENSE.md
servers:
  - url: http://www.ebi.ac.uk/pride/proxi/v1/
  - url: http://localhost:8080/proxi/v1/
paths:
  /dataset/findByAccession:
     get:
       tags:
         - dataset
       description: Find datasets by a list of accessions
       operationId: findByAccession
       parameters:
         - name: accession
           in: query
           description: Dataset Accessions
           required: true
           schema:
             type: array
             items:
               type: string
       responses:
        '200':
          description: Successful Operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OntologyTerm'
            application/xml:
              schema:
                $ref: '#/components/schemas/OntologyTerm'
        '400':
          description: Bad Request. Invalid Accession Requested
        '404':
          description: No dataset has been found with the requested accessions
components:
  schemas:
     OntologyTerm:
       required:
         - accession
         - name
       properties:
         accession:
           type: string
         name:
           type: string
         value:
           type: string
         cvLabel:
           type: string