openapi: 3.0.0
info:
  description: "[Protein expression interface](https://github.com/bigbio/proxi-schemas/)"
  version: v1
  title: Proteomics Expression Interface
  contact:
    name: Yasset Perez-Riverol
    email: yperez@ebi.ac.uk
  license:
    name: Apache 2.0
    url: https://github.com/bigbio/proxi-schemas/LICENSE.md
servers:
  - url: http://www.ebi.ac.uk/pride/proxi/v1/
  - url: http://localhost:8080/proxi/v1/
paths:
  /datasets/filters:
     get:
       tags:
         - datasets
       description: Find datasets by a list of accessions
       operationId: findByAccession
       parameters:
         - name: accession
           in: query
           description: Dataset Accessions
           required: true
           schema:
             type: array
             items:
               type: string
       responses:
        '200':
          description: Successful Operation
          content:
            application/json:
              schema:
                type: obejct
                $ref: '#/components/schemas/Datasets'
            application/xml:
              schema:
                type: object
                $ref: '#/components/schemas/Datasets'
        '400':
          description: Bad Request. Invalid Accession Requested
        '404':
          description: No dataset has been found with the requested accessions

  /datasets/findByAttributes:
     get:
       tags:
         - datasets
       description: Find datasets by keywords on any of the attributes of a dataset
       operationId: findByAttributes
       parameters:
         - name: keyword
           in: query
           description: keyword to query all the attributes of a dataset
           required: true
           schema:
             type: string
       responses:
        '200':
           description: Successful Operation
           content:
             application/json:
               schema:
                 type: object
                 $ref: "#/components/schemas/Dataset"
             application/xml:
               schema:
                 type: object
                 $ref: "#/components/schemas/Dataset"
        '400':
           description: Bad Request. Invalid keyword Requested
        '404':
           description: No dataset has been found with the requested keyword

  /datasets/{datasetAccession}/
     get:
       tags:
         - datasets
       description: Get a dataset by their accession.
       operationId: getDatasetByAccession
       parameters:
         - name: datasetAccession
           in: path
           description: Accession of the dataset in the resource.
           required: true
           schema:
              type: string
       responses:
        '200':
           description: Successful Operation
           content:
             application/json:
               schema:
                 type: object
                 $ref: "#/components/schemas/Dataset"
             application/xml:
               schema:
                 type: object
                 $ref: "#/components/schemas/Dataset"
        '400':
           description: Bad Request. Invalid keyword Requested
        '404':
           description: No dataset has been found with the requested keyword
  /datasets/{datasetAccession}/proteins:
     get:
       tags:
         - datasets
       description: Find the list of Proteins in one dataset
       operationId: getProteinsByDatasetAccession
       parameters:
          - name: datasetAccession
            in: path
            description: Dataset Accession
            required: true
            schema:
              type: string
      responses:
        '200':
           description: Successful Operation
           content:
              application/json:
                schema:
                  type: object
                  $ref: "#/components/schemas/Proteins"
              application/xml:
                schema:
                  type: object
                  $ref: "#/components/schemas/Proteins"
        '400':
           description: Bad Request. Invalid keyword Requested
        '404':
           description: No dataset has been found with the requested keyword

components:
  schemas:
     OntologyTerm:
       xml:
         name: OntologyTerm
       required:
         - accession
         - name
       properties:
         accession:
           type: string
         name:
           type: string
         value:
           type: string
         cvLabel:
           type: string
     Contact:
       xml:
         name: Contact
       required:
          - contactType
       properties:
          contactType:
             enum: [Submitter, LabHead]
             type: string
          contactProperties:
             type: array
             items:
               $ref: "#/components/schemas/OntologyTerm"
     Dataset:
       xml:
         name: Dataset
       required:
         - accession
         - title
         - summary
         - organisms
         - instruments
         - modifications
         - contacts
         - dataFiles
         - datasetLink
       properties:
         accession:
           type: string
         title:
           type: string
         summary:
           type: string
         organisms:
           type: array
           items:
            $ref: "#/components/schemas/OntologyTerm"
         instruments:
           type: array
           items:
            $ref: "#/components/schemas/OntologyTerm"
         modifications:
           type: array
           items:
            $ref: "#/components/schemas/OntologyTerm"
         contacts:
           type: array
           items:
            $ref: "#/components/schemas/Contact"
         publications:
           type: "array"
           items:
            $ref: "#/components/schemas/OntologyTerm"
         keywords:
           type: "array"
           items:
            $ref: "#/components/schemas/OntologyTerm"
         datasetLink:
            $ref: "#/components/schemas/OntologyTerm"
         dataFiles:
            type: "array"
            items:
             $ref: "#/components/schemas/OntologyTerm"
     Datasets:
       type: array
       items:
         $ref: "#/components/schemas/Dataset"

     Protein:
       required:
         - proteinAccession
         - confidenceScore
       properties:
         proteinAccession:
           type: string
         confidenceScore:
           type: object
           $ref: "#/components/schemas/OntologyTerm"
     Proteins:
            type: array
            items:
              $ref: "#/components/schemas/Protein"
