swagger: "2.0"
info:
  title: Proteomics Expression Interface
  description: "[Proteomics eXpression Interface](https://github.com/HUPO-PSI/proxi-schemas/)"
  version: 0.1.1
  contact:
    name: Yasset Perez-Riverol
    email: yperez@ebi.ac.uk
  license:
    name: Apache 2.0
    url: https://github.com/bigbio/proxi-schemas/LICENSE.md
schemes:
  - http
  - https
host: www.proteomexchange.org
basePath: /proxi/v0.1

tags:
  - name: proxi
    description: A set of datasets, peptides and protein identified acrosss ProteomeXchange partners
consumes:
  - application/json
produces:
  - application/json

paths:
  /datasets:
    get:
      summary: List of datasets in the respository
      operationId: listDatasets
      tags:
        - datasets
      produces:
        - "application/json"
      parameters:
        - name: pageSize
          in: query
          description: How many items to return at one time (default 100, max 100)
          required: false
          type: integer
          default: 100
        - name: pageNumber
          in: query
          description: Current page to be shown paged datasets (default page 1)
          required: false
          type: integer
          default: 0
        - name: resultType
          in: query
          description: Type of the object to be retrieve Compact or Full dataset
          required: true
          type: string
          enum: [compact, full]
          default: compact
        - name: species
          in: query
          description: Filter the list of Datasets by Species, multiple species search can be performed by [human, mouse].
          required: false
          type: string
        - name: accession
          in: query
          description: Filter the list of datasets by Dataset accession, multiple accessions search can be performed by [PXD00001, PXD00002]
          type: string
          required: false
        - name: instrument
          in: query
          description: Filter the list of datasets by Instrument, multiple instruments search can be performed by [LTQ, QTOF]
          type: string
          required: false
        - name: contact
          in: query
          description: Filter the list of datasets by Contact information
          type: string
          required: false
        - name: publication
          in: query
          description: Filter the list of datasets by Publication information, multiple information search can be performed by [nature methods, 27498275]
          type: string
          required: false
        - name: modification
          in: query
          description: Filter the list of datasets by Modification information.
          type: string
          required: false
        - name: search
          in: query
          description: Search different keywords into all dataset fields, multiple terms search can be performed by [liver, brain]
          type: string
          required: false
      responses:
        "200":
          description: OK
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Dataset"
        '400':
          description: Bad request. The requested parameters are not supported.
        '401':
          description: Authorization information is missing or invalid.
        '404':
          description: No data found for the specified parameters.
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'

  /datasets/{accession}:
    get:
      summary: Get an specific dataset
      operationId: getDataset
      tags:
        - datasets
      produces:
        - "application/json"
      parameters:
        - name: accession
          in: path
          description: Accession of the dataset
          required: true
          type: string
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/Dataset"
        '400':
          description: Bad request. The requested parameters are not supported.
        '401':
          description: Authorization information is missing or invalid.
        '404':
          description: No data found for the specified parameters.
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /spectra:
    get:
      summary: Get the specific spectrum in the repository
      operationId: spectraIdGet
      description: This endpoint returns one spectrum by the unified spectrum identifier
      tags:
        - proxi
      produces:
        - "application/json"
      parameters:
        - name: pageSize
          in: query
          description: How many items to return at one time (default 100, max 100)
          required: false
          type: integer
          default: 100
        - name: pageNumber
          in: query
          description: Current page to be shown paged datasets (default page 1)
          required: false
          type: integer
          default: 0
        - name: resultType
          in: query
          description: Type of the object to be retrieve Compact or Full dataset
          required: true
          type: string
          enum: [compact, full]
          default: compact
        - name: usi
          in: query
          type: string
          description: Universal Spectrum Identifier (USI)
        - name: accession
          in: query 
          type: string 
          description: Dataset accession 
        - name: msrun 
          in: query
          type: string 
          description: MsRun containing the spetra 
        - name: filename 
          in: query
          type: string 
          description: FileName containing the spectra
        - name: scan
          in: query 
          type: string 
          description: Scan to be search
      responses:
        "200":
          description: Spectrum and metadata of the requested Universal Spectrum Identifier
          schema:
            $ref: "#/definitions/Spectrum"
        '400':
          description: Bad request. The requested parameters are not supported.
        '401':
          description: Authorization information is missing or invalid.
        '404':
          description: No data found for the specified parameters.
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'

definitions:
  OntologyTerm:
    required:
      - accession
      - name
    properties:
      accession:
        type: string
      name:
        type: string
      value:
        type: string
  OntologyTermList:
    required:
      - terms
    properties:
      terms:
        type: array
        items:
          $ref: "#/definitions/OntologyTerm"
  Dataset:
    required:
      - accession
      - title
      - species
      - instruments
      - contacts
      - publications
    properties:
      accession:
        type: array
        items:
          $ref: "#/definitions/OntologyTerm"
      title:
        type: string
      summary:
        type: string
      species:
        type: array
        items:
          $ref: "#/definitions/OntologyTermList"
      instruments:
        type: array
        items:
          $ref: "#/definitions/OntologyTerm"
      modifications:
        type: array
        items:
          $ref: "#/definitions/OntologyTerm"
      contacts:
        type: array
        items:
          $ref: "#/definitions/OntologyTermList"
      publications:
        type: "array"
        items:
          $ref: "#/definitions/OntologyTermList"
      keywords:
        type: "array"
        items:
          $ref: "#/definitions/OntologyTerm"
      datasetLink:
        type: "array"
        items:
          $ref: "#/definitions/OntologyTerm"
      dataFiles:
        type: "array"
        items:
          $ref: "#/definitions/OntologyTerm"
  Spectrum:
    required:
      - usi
      - status
    properties:
      usi:
        type: string
        description: Universal Spectrum Identifier
      id:
        type: string
        description: Local identifier specific to the provider
      status:
        type: string 
        enum: [READABLE, PEAK UNAVAILABLE]
        description: Status of the Spectrum
      mzs:
        type: array
        items:
          type: number
        description: Array of m/z values
      intensities:
        type: array
        items:
          type: number
        description: Array of intensity values corresponding to mzs
      interpretations:
        type: array
        items:
          type: string
        description: Array of coded interpretation strings of the peaks, corresponding to mzs
      attributes:
        type: array
        description: List of ontology terms providing attributes of the spectrum
        items:
          $ref: "#/definitions/OntologyTerm"
  Error:
    required:
      - code
      - message
    properties:
      code:
        type: integer
        format: int32
      message:
        type: string
